<div class="w3-main bg-info" id="main" style="padding: 0 150px;">

    <div class="w3-row w3-margin-bottom">
     <div class="w3-col l6 w3-center" style="padding:3%">
      <h1>HTML</h1>
      <p class="w3-xlarge w3-text-dark-grey">The language for building web pages</p>
      <a href="/html/default.asp" class="w3-button w3-dark-grey">LEARN HTML</a>
      <a href="/tags/default.asp" class="w3-button w3-dark-grey">HTML REFERENCE</a>
     </div>
     <div class="w3-col l6" style="padding:3%">
      <div class="w3-hide-small w3-light-grey w3-card-2" style="padding:16px;">
       <h3>HTML Example:</h3>
       <div class="w3-code htmlHigh notranslate w3-border-green">
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>!DOCTYPE<span class="attributecolor" style="color:red"> html</span><span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>html<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>title<span class="tagcolor" style="color:mediumblue">&gt;</span></span>HTML Tutorial<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/title<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>body<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>h1<span class="tagcolor" style="color:mediumblue">&gt;</span></span>This is a heading<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/h1<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>p<span class="tagcolor" style="color:mediumblue">&gt;</span></span>This is a paragraph.<span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/p<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/body<span class="tagcolor" style="color:mediumblue">&gt;</span></span><br>
    <span class="tagnamecolor" style="color:brown"><span class="tagcolor" style="color:mediumblue">&lt;</span>/html<span class="tagcolor" style="color:mediumblue">&gt;</span></span>
       </div>
       <a href="/html/tryit.asp?filename=tryhtml_default" target="_blank" class="w3-button w3-theme w3-hover-green w3-hover-shadow">Try it Yourself »</a>
      </div>
     </div>
    </div>
    
    <div class="w3-row w3-dark-grey w3-padding-32">
        <div class="w3-col l6 w3-center" style="padding:2% 3%;">
         <div class="w3-card-2 w3-white w3-padding" style="padding-bottom:24px!important">
          <h2 class="w3-xxlarge">Python</h2>
          <div style="height:70px;">
            <h4 class="w3-text-dark-grey">A programming language</h4>
          </div>
          <a href="/python/default.asp" class="w3-button w3-dark-grey">LEARN PYTHON</a>
         </div>
        </div>
        <div class="w3-col l6 w3-center" style="padding:2% 3%;">
         <div class="w3-card-2 w3-white w3-padding" style="padding-bottom:24px!important">
          <h2 class="w3-xxlarge">PHP</h2>
          <div style="height:70px;">
             <h4 class="w3-text-dark-grey">A web server programming language</h4>
          </div>
          <a href="/php/default.asp" class="w3-button w3-dark-grey">LEARN PHP</a>
         </div>
       
        </div>
        <div class="w3-col l6 w3-center" style="padding:2% 3%;">
         <div class="w3-card-2 w3-white w3-padding" style="padding-bottom:24px!important">
          <h2 class="w3-xxlarge">jQuery</h2>
          <div style="height:70px;">
            <h4 class="w3-text-dark-grey">A JavaScript library for developing web pages</h4>
          </div>
          <a href="/jquery/default.asp" class="w3-button w3-dark-grey">LEARN JQUERY</a>
         </div>
        </div>
        
        <div class="w3-col l6 w3-center" style="padding:2% 3%;">
         <div class="w3-card-2 w3-white w3-padding" style="padding-bottom:24px!important">
          <h2 class="w3-xxlarge">Java</h2>
          <div style="height:70px;">
            <h4 class="w3-text-dark-grey">A programming language</h4>
          </div>
          <a href="/java/default.asp" class="w3-button w3-dark-grey">LEARN JAVA</a>
         </div>
        </div>
       </div>
    </div>

    
  <div class="w3-center w3-small w3-opacity bg-dark text-white" style="padding: 0 150px;">
    <div class="p-5">
    W3Schools is optimized for learning, testing, and training. Examples might be simplified to improve reading and basic understanding.
    Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness of all content.
    While using this site, you agree to have read and accepted our <a href="/about/about_copyright.asp">terms of use</a>,
    <a href="/about/about_privacy.asp">cookie and privacy policy</a>.
    <a href="/about/about_copyright.asp">Copyright 1999-2020</a> by Refsnes Data. All Rights Reserved.<br>
     <a href="//www.w3schools.com/w3css/default.asp">Powered by W3.CSS</a>.<br><br>
    <a href="//www.w3schools.com">
    <img style="width:150px;height:28px;border:0" src="/images/w3schoolscom_gray.gif" alt="W3Schools.com"></a></div>
    </div>
