<div class="bg-success text-white text-center p-5">
    <h1>About</h1>
    <br><hr><br>
    <a [routerLink]="['../product/angular']" class="btn btn-success btn-lg">Angular</a>
    <a [routerLink]="['../product/mongobd']" class="btn btn-danger btn-lg">Mongodb</a>
    <a [routerLink]="['../product/nodejs']" class="btn btn-info btn-lg">Nodejs</a>
    <br><hr><br>
    <p>Routing is an important key feature for every frontend framework, it is the process of dividing the UI of an application using URLs. It allows developers to build modern single-page applications that can be loaded once by a browser and provide multiple views.</p>
    <br><hr><br>
    <img src="assets/img/about.jfif" style="height: 500px;width: 100%;">
</div>
